* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right top, pink, violet);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
  border-radius: 1rem;
  display: flex;
}

.dashboard {
  flex: 1;
  background: linear-gradient(to left top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
  border-radius: 1rem;
}

.content {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  background: linear-gradient(to left top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
  height: 80%;
  width: 80%;
  border-radius: 2%;
}

@media screen and (max-width: 1024px) {
  .dashboard {
    display: none !important;
  }

  .content {
    flex: 1;
  }
}
